{{ define "title"}}{{ t "page.date_entries.title" }} {{ if gt .countUnread 0 }}({{ .countUnread }}){{ end }}{{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title">
        {{ t "page.date_entries.title" }}
        <span aria-hidden="true">(<span class="unread-counter">{{ .countUnread }}</span>)</span>
    </h1>
    <span id="page-header-title-count" class="sr-only">{{ plural "page.unread_entry_count" .countUnread .countUnread }}</span>
    {{ if gt .countUnread 0 }}
    <nav aria-label="{{ t "page.date_entries.title" }} sections">
        <ul>
            {{ if gt .countToday 0 }}
            <li {{ if eq .section "today" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}?section=today">{{ t "date_group.today" }} ({{ .countToday }})</a>
            </li>
            {{ end }}
            {{ if gt .countLast2d 0 }}
            <li {{ if eq .section "last2d" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}?section=last2d">{{ t "date_group.last_2d" }} ({{ .countLast2d }})</a>
            </li>
            {{ end }}
            {{ if gt .countLast7d 0 }}
            <li {{ if eq .section "last7d" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}?section=last7d">{{ t "date_group.last_7d" }} ({{ .countLast7d }})</a>
            </li>
            {{ end }}
            {{ if gt .countLast30d 0 }}
            <li {{ if eq .section "last30d" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}?section=last30d">{{ t "date_group.last_30d" }} ({{ .countLast30d }})</a>
            </li>
            {{ end }}
            {{ if gt .countEarlier 0 }}
            <li {{ if eq .section "earlier" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}?section=earlier">{{ t "date_group.earlier" }} ({{ .countEarlier }})</a>
            </li>
            {{ end }}
            <li {{ if eq .section "all" }}class="active"{{ end }}>
                <a href="{{ route "dateEntries" }}">{{ t "menu.all_entries" }} ({{ .countUnread }})</a>
            </li>
        </ul>
    </nav>
    {{ end }}
</section>
{{ end }}

{{ define "content"}}
{{ if eq .countUnread 0 }}
    <p role="alert" class="alert">{{ t "alert.no_unread_entry" }}</p>
{{ else }}
    {{ if gt (len .todayEntries) 0 }}
    <section class="date-group">
        <h2 class="date-group-header">{{ t "date_group.today" }} <span class="count">({{ .countToday }})</span></h2>
        <div class="items hide-read-items">
            {{ range .todayEntries -}}
            <article
                class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
                data-id="{{ .ID }}"
                aria-labelledby="entry-title-{{ .ID }}"
                tabindex="-1"
            >
                <header class="item-header" dir="auto">
                    <h3 id="entry-title-{{ .ID }}" class="item-title">
                        <a href="{{ route "unreadEntry" "entryID" .ID }}">
                            {{ if ne .Feed.Icon.IconID 0 -}}
                            <img src="{{ route "feedIcon" "externalIconID" .Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="">
                            {{ end -}}
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="category">
                        <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                            {{ .Feed.Category.Title }}
                        </a>
                    </span>
                </header>
                {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry -}}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{ if gt (len .last2dEntries) 0 }}
    <section class="date-group">
        <h2 class="date-group-header">{{ t "date_group.last_2d" }} <span class="count">({{ .countLast2d }})</span></h2>
        <div class="items hide-read-items">
            {{ range .last2dEntries -}}
            <article
                class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
                data-id="{{ .ID }}"
                aria-labelledby="entry-title-{{ .ID }}"
                tabindex="-1"
            >
                <header class="item-header" dir="auto">
                    <h3 id="entry-title-{{ .ID }}" class="item-title">
                        <a href="{{ route "unreadEntry" "entryID" .ID }}">
                            {{ if ne .Feed.Icon.IconID 0 -}}
                            <img src="{{ route "feedIcon" "externalIconID" .Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="">
                            {{ end -}}
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="category">
                        <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                            {{ .Feed.Category.Title }}
                        </a>
                    </span>
                </header>
                {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry -}}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{ if gt (len .last7dEntries) 0 }}
    <section class="date-group">
        <h2 class="date-group-header">{{ t "date_group.last_7d" }} <span class="count">({{ .countLast7d }})</span></h2>
        <div class="items hide-read-items">
            {{ range .last7dEntries -}}
            <article
                class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
                data-id="{{ .ID }}"
                aria-labelledby="entry-title-{{ .ID }}"
                tabindex="-1"
            >
                <header class="item-header" dir="auto">
                    <h3 id="entry-title-{{ .ID }}" class="item-title">
                        <a href="{{ route "unreadEntry" "entryID" .ID }}">
                            {{ if ne .Feed.Icon.IconID 0 -}}
                            <img src="{{ route "feedIcon" "externalIconID" .Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="">
                            {{ end -}}
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="category">
                        <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                            {{ .Feed.Category.Title }}
                        </a>
                    </span>
                </header>
                {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry -}}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{ if gt (len .last30dEntries) 0 }}
    <section class="date-group">
        <h2 class="date-group-header">{{ t "date_group.last_30d" }} <span class="count">({{ .countLast30d }})</span></h2>
        <div class="items hide-read-items">
            {{ range .last30dEntries -}}
            <article
                class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
                data-id="{{ .ID }}"
                aria-labelledby="entry-title-{{ .ID }}"
                tabindex="-1"
            >
                <header class="item-header" dir="auto">
                    <h3 id="entry-title-{{ .ID }}" class="item-title">
                        <a href="{{ route "unreadEntry" "entryID" .ID }}">
                            {{ if ne .Feed.Icon.IconID 0 -}}
                            <img src="{{ route "feedIcon" "externalIconID" .Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="">
                            {{ end -}}
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="category">
                        <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                            {{ .Feed.Category.Title }}
                        </a>
                    </span>
                </header>
                {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry -}}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{ if gt (len .earlierEntries) 0 }}
    <section class="date-group">
        <h2 class="date-group-header">{{ t "date_group.earlier" }} <span class="count">({{ .countEarlier }})</span></h2>
        <div class="items hide-read-items">
            {{ range .earlierEntries -}}
            <article
                class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
                data-id="{{ .ID }}"
                aria-labelledby="entry-title-{{ .ID }}"
                tabindex="-1"
            >
                <header class="item-header" dir="auto">
                    <h3 id="entry-title-{{ .ID }}" class="item-title">
                        <a href="{{ route "unreadEntry" "entryID" .ID }}">
                            {{ if ne .Feed.Icon.IconID 0 -}}
                            <img src="{{ route "feedIcon" "externalIconID" .Feed.Icon.ExternalIconID }}" width="16" height="16" loading="lazy" alt="">
                            {{ end -}}
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="category">
                        <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                            {{ .Feed.Category.Title }}
                        </a>
                    </span>
                </header>
                {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry -}}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}
{{ end }}

{{ end }}
